body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: black;
  color: white;
}

.information {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.graphic {
  background-image: url('../assets/characters/pacman-header.jpeg');   
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  height: 200px;
  width: 500px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
}

.easy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: green;
  border-radius: 5%;
  border-style: ridge;
  margin: 10px;
  padding: 20px;
}

.medium {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: orange;
  border-radius: 5%;
  border-style: ridge;
  margin: 10px;
  padding: 20px;
}

.hard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 5%;
  border-style: ridge;
  margin: 10px;
  padding: 20px;
}

.detail {
  width: 600px;
  font-size: 20px;
}

.totalLives {
  display: flex;
  align-items: center;
  
  
}
.lives {
  background-image: url('../assets/characters/pacman.png');   
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
}

.game-grid   {
  width: 700px;
  padding: 30px 50px 30px 50px;
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-grid div {
  width: 34px;
  /* height: 27px; */
  /* border: 1px solid black; */
  /* width: 4.7%;
  height: 3%; */
  margin: 0;
  font-size: 10px;
}

.noGoZoneCells {
  background-color: blue;
  color: white;
  }
  
  .ghostTownCells {
    background-color: darkblue;
    color: white;
  }

.wormhole {
  background-color: rgb(20, 20, 20);
  color: white;
}
  
  .boundary {

  }

.pills {
  background-image: url('../assets/characters/pill.png');   
  background-size: 4px;
  background-repeat: no-repeat;
  background-position: center; 
}

.super {
  background-image: url('../assets/characters/superpill.png');   
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center; 
}

.pacman {
  background-image: url('../assets/characters/pacman.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacmanLeft {
  background-image: url('../assets/characters/pacmanLeft.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacmanUp {
  background-image: url('../assets/characters/pacmanUp.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacmanDown {
  background-image: url('../assets/characters/pacmanDown.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.red-ghost {
  background-image: url('../assets/characters/redMovingRight.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.blue-ghost {
  background-image: url('../assets/characters/blueMovingRight.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.pink-ghost {
  background-image: url('../assets/characters/pinkMovingRight.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.orange-ghost {
  background-image: url('../assets/characters/orangeMovingRight.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.hunter-ghost {
  background-image: url('../assets/characters/hunterGhostRight.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.eatable-ghost {
  background-image: url('../assets/characters/eatableGhost.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.ghost-eyes {
  background-image: url('../assets/characters/ghost-eyes.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}