body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: black;
}

.information {
  width: 600px;
  /* height: 100vh;
  padding: 30px 50px 30px 50px; */
  border: 1px solid black;
    background-image: url('../assets/characters/pacman.png'); 
    /* background-position: center; */
    background-repeat: no-repeat;
}


.game-grid   {
  width: 700px;
  padding: 30px 50px 30px 50px;
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game-grid div {
  width: 34px;
  /* height: 27px; */
  /* border: 1px solid black; */
  /* width: 4.7%;
  height: 3%; */
  margin: 0;
  font-size: 10px;
}

.pacman {
  background-image: url('../assets/characters/pacman.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.noGoZoneCells {
background-color: black;
color: white;
}

.ghostTownCells {
  background-color: black;
  color: white;
}

/* .blueBordeCells {
  background-color: black;
  border-right: 8px solid blue;
  border-left: 8px solid blue;
  color: white;
} */
